/**
 * @file
 * Some basic css classes for rdbanners slider.
 */

.responsive-image {
  width: 100% !important;
  height: auto;
}
#single-img-div {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto;
}

.single-img {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.single-img ul li {
  list-style: none !important;
}

.single-img div.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.single-img div.caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

ul.bx-slider {
  padding: 0 0 0 0 !important;
  margin: 0 !important;
}

.bx-slider img {
  width: 100%;
}
